<div class="product-detail-page">
  <app-header></app-header>
  <div class="container">
    <div class="intro-section">
      <h1>Đây là trang Product Detail</h1>
      <p>Trang này hiển thị danh sách chi tiết các sản phẩm, kèm ảnh</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div id="carouselExample" class="carousel slide">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="square-image">
                <img
                  src="https://images.pexels.com/photos/18252686/pexels-photo-18252686/free-photo-of-fishes-in-fish-soup-on-white-plate.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  class="product-image"
                  alt="Product image"
                />
              </div>
            </div>
            <div class="carousel-item">
              <div class="square-image">
                <img
                  src="https://images.pexels.com/photos/18252686/pexels-photo-18252686/free-photo-of-fishes-in-fish-soup-on-white-plate.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  class="product-image"
                  alt="Product image"
                />
              </div>
            </div>
            <div class="carousel-item">
              <div class="square-image">
                <img
                  src="https://images.pexels.com/photos/18252686/pexels-photo-18252686/free-photo-of-fishes-in-fish-soup-on-white-plate.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  class="product-image"
                  alt="Product image"
                />
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="row">
            <div class="thumbnail-container">
                <div class="thumbnail-item active">
                    <img src="https://images.pexels.com/photos/18252686/pexels-photo-18252686/free-photo-of-fishes-in-fish-soup-on-white-plate.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="img-thumbnail" alt="Thumbnail Image">
                </div>
            </div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
