<div class="login-page">
  <app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="login-form mx-auto">
          <h2 class="login-header">Đăng nhập</h2>
          <div class="form-group">
            <label class="text-white" for="email">Email/Phone</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Nhập email/phone"
            />
            <div class="divider-nospace"></div>
          </div>
          <div class="mt-5"></div>
          <div class="form-group password-field">
            <label class="text-white" for="password">Mật khẩu</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Nhập ít nhất 3 ký tự"
            />
            <!-- <i class="fa-solid fa-eye password-toggle"></i> -->
            <i class="fa-solid fa-eye-slash password-toggle"></i>
            <div class="divider-nospace"></div>
          </div>
          <div class="mt-4"></div>
          <div class="form-group">
            <div class="form-check checkbox-text">
              <span class="d-flex">
                <input type="checkbox" class="form-check-input" id="remember" />
                <label for="remember" class="form-check-label text-start"
                  >Ghi nhớ đăng nhập</label
                >
              </span>
              <a href="#" class="register-link">Quên mật khẩu</a>
            </div>
          </div>
          <div class="form-group">
            <select class="form-control access-right">
              <option selected disabled>Quyền đăng nhập</option>
              <option>Người dùng</option>
              <option>Quản trị viên</option>
            </select>
          </div>
          <button class="login-button mt-4">Đăng nhập</button>
          <div class="divider"></div>
          <p>
            Bạn chưa đăng ký?
            <span><a href="#" class="register-link">Tạo tài khoản</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
