<div class="register-page">
  <!-- <app-header></app-header> -->
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="register-form mx-auto">
          <h2 class="register-header">Đăng ký</h2>
          <div class="form-group">
            <label class="text-white" for="email">Email/Phone</label>
            <input
              type="text"
              class="form-control"
              id="email"
              placeholder="Nhập email/phone"
            />
            <div class="divider-nospace"></div>
          </div>
          <div class="mt-5"></div>
          <div class="form-group password-field">
            <label class="text-white" for="password">Mật khẩu</label>
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Nhập ít nhất 3 ký tự"
            />
            <!-- <i class="fa-solid fa-eye password-toggle"></i> -->
            <i class="fa-solid fa-eye-slash password-toggle"></i>
            <div class="divider-nospace"></div>
          </div>
          <div class="mt-5"></div>
          <div class="form-group password-field">
            <label class="text-white" for="confirm-password"
              >Gõ lại mật khẩu</label
            >
            <input
              type="confirm-password"
              class="form-control"
              id="confirm-password"
              placeholder="Nhập ít nhất 3 ký tự"
            />
            <!-- <i class="fa-solid fa-eye password-toggle"></i> -->
            <i class="fa-solid fa-eye-slash password-toggle"></i>
            <div class="divider-nospace"></div>
          </div>
          <div class="mt-5"></div>
          <div class="form-group">
            <label class="text-white" for="fullname">Họ và tên</label>
            <input
              type="text"
              class="form-control"
              id="fullname"
              placeholder="Nhập họ và tên"
            />
            <div class="divider-nospace"></div>
          </div>
          <div class="mt-5"></div>
          <div class="form-group">
            <label class="text-white" for="address">Địa chỉ</label>
            <input
              type="text"
              class="form-control"
              id="address"
              placeholder="Nhập địa chỉ"
            />
            <div class="divider-nospace"></div>
          </div>
          <div class="mt-4"></div>
          <div class="form-group">
            <div class="form-check checkbox-text">
              <span class="d-flex">
                <input type="checkbox" class="form-check-input" id="agree" />
                <label for="agree" class="form-check-label text-start"
                  >Tôi đồng ý với tất cả điều khoản và điều kiện</label
                >
              </span>
            </div>
          </div>
          <button class="register-button mt-4">Đăng ký</button>
          <div class="divider"></div>
          <p class="text-light">
            Bạn đã có tài khoản?
            <span><a href="#" class="register-link">Đăng nhập</a></span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <app-footer></app-footer> -->
</div>
