.product-item {
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    .product-image {
      width: 100%;
      height: auto;
      margin-bottom: 10px;
    }
    .product-name {
    }
    .product-desc {
    }
    .product-warranty {
    }
    .product-price {
    }
  }