<div class="order-confirm-page">
  <app-header></app-header>
  <div class="container">
    <div class="confirmation-container">
      <div class="intro-section">
        <h1>Xác nhận đơn hàng</h1>
        <p>
          Cảm ơn bạn đã đặt hàng! Dưới đây là thông tin chi tiết về đơn hàng của
          bạn
        </p>
      </div>
    </div>
    <div class="row">
      <table class="p-2">
        <thead>
          <tr>
            <th scope="col" class="text-center p-3">Sản phẩm</th>
            <th scope="col" class="text-center p-3">Số lượng</th>
            <th scope="col" class="text-center p-3">Đơn giá</th>
            <th scope="col" class="text-center p-3">Tổng giá</th>
          </tr>
        </thead>
        <tbody>
            <tr class="text-center">
                <td>
                  <div class="product-info d-flex align-items-center">
                    <img src="https://images.pexels.com/photos/18252686/pexels-photo-18252686/free-photo-of-fishes-in-fish-soup-on-white-plate.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="Product image" class="product-image"
                    />
                    <span class="product-name">Tên sản phẩm</span>
                  </div>
                </td>
                <td>2</td>
                <td>100,000đ</td>
                <td>200,000đ</td>
              </tr>
              <tr class="text-center">
                <td>
                  <div class="product-info d-flex align-items-center">
                    <img src="https://images.pexels.com/photos/18252686/pexels-photo-18252686/free-photo-of-fishes-in-fish-soup-on-white-plate.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                    alt="Product image" class="product-image"
                    />
                    <span class="product-name">Tên sản phẩm</span>
                  </div>
                </td>
                <td>2</td>
                <td>100,000đ</td>
                <td>200,000đ</td>
              </tr>
        </tbody>
      </table>
      <div class="text-center mt-3">
        <div class="btn btn-gradient" type="button">Tiếp tục mua sắm</div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
