<div class="order-page">
  <app-header></app-header>
  <div class="container">
    <div class="intro-section">
      <h1>Đây là trang Order</h1>
      <p>Lựa chọn sản phẩm tốt nhất cho bạn</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h2 class="product-header">Thông tin người nhận</h2>
        <form>
          <div class="mb-3">
            <label for="name" class="form-label">Họ và tên</label>
            <input type="text" class="form-control" id="name" />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" class="form-control" id="email" />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="phone" />
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
        <table>
          <thead>
            <tr>
              <th scope="col" class="text-center p-3">Sản phẩm</th>
              <th scope="col" class="text-center p-3">Số lượng</th>
              <th scope="col" class="text-center p-3">Đơn giá</th>
              <th scope="col" class="text-center p-3">Tổng giá</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td>
                <div class="product-info d-flex align-items-center">
                  <img src="https://images.pexels.com/photos/18252686/pexels-photo-18252686/free-photo-of-fishes-in-fish-soup-on-white-plate.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  alt="Product image" class="product-image"
                  />
                  <span class="product-name">Tên sản phẩm</span>
                </div>
              </td>
              <td class="mt-3">2</td>
              <td>100,000đ</td>
              <td>200,000đ</td>
            </tr>
            <tr class="text-center">
              <td>
                <div class="product-info d-flex align-items-center">
                  <img src="https://images.pexels.com/photos/18252686/pexels-photo-18252686/free-photo-of-fishes-in-fish-soup-on-white-plate.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                  alt="Product image" class="product-image"
                  />
                  <span class="product-name">Tên sản phẩm</span>
                </div>
              </td>
              <td>2</td>
              <td>100,000đ</td>
              <td>200,000đ</td>
            </tr>
          </tbody>
        </table>
        <div class="text-start mt-3">
          <h4 class="text-end">Tổng giá: 350,000 đ</h4>
        </div>
        <div class="mt-3">
          <h4 class="product-header">Nhập coupon</h4>
          <div class="input-group">
            <input type="text" placeholder="Nhập coupon" class="form-control">
            <button class="btn btn-gradient" type="button">Áp dụng</button>
          </div>
        </div>
        <div class="text-start mt-3">
          <button class="btn btn-gradient" type="button">Đặt hàng</button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
