<div class="home-page">
  <app-header></app-header>
  <div class="container">
    <div class="intro-section">
      <h1>Đây là trang Home</h1>
      <p>Trang này hiển thị danh sách các sản phẩm, kèm ảnh</p>
      <p>Các bạn có thể chọn xem sản phẩm và mua hàng tại đây</p>
    </div>

    <div class="search-box d-flex justify-content-center align-items-center">
      <input
        type="text"
        class="form-control search-input"
        placeholder="Tìm sản phẩm"
      />
      <select name="" id="" class="form-control product-category">
        <option selected disabled>Danh mục sản phẩm</option>
        <option value="">Đồ điện tử</option>
        <option value="">Hải sản</option>
        <option value="">Bánh kẹo</option>
      </select>
    </div>

    <app-product-list></app-product-list>

  </div>
  <app-footer></app-footer>
</div>
